img {
    max-width: 100%;
    /* height: auto; */
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: 0px 100px 0px 400px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.cnt{
  background-color: rgb(141, 255, 112);
}



/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */
  
  .container {
    --light-color: #fff;
    height: 420px;
    width: 350px;
    background: var(--light-color);
    position: fixed;
    bottom: 50px;
    right: 10px;
    box-shadow: 0px 0px 15px 0px black;
  }
  .chat-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: #bdc006;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  
  .chat-header .logo {
    height: 35px;
    width: 35px;
    box-shadow: 0px 0px 10px 0px black;
  }
  .chat-header img {
    height: 100%;
    width: 100%;
  }
  .chat-header .title {
    padding-left: 10px;
  }
  .chat-body {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    align-items: flex-end;
    overflow-y: auto;
  }
  .chat-input {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
  }
  .input-sec {
    flex: 9;
  }
  .send {
    flex: 1;
    padding-right: 4px;
  }
  #txtInput {
    line-height: 30px;
    padding: 8px 10px;
    border: none;
    outline: none;
    caret-color: black;
    font-size: 1rem;
    width: 100%;
  }
  
  .chatbot-message,
  .user-message {
    padding: 8px;
    background: #ccc;
    margin: 5px;
    width: max-content;
    border-radius: 10px 3px 10px 10px;
  }
  .chatbot-message {
    background: #0652c0;
    color: var(--light-color);
    align-self: flex-start;
    border-radius: 10px 10px 3px 10px;
  }
  
